body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 8px;
}

.tests, .program {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.tests {
  left: 0;
  border-right: 1px solid #999;
}

.program {
  left: 50%;
}

.container {
  margin: 0;
  padding: 8px;
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  bottom: 0;
  box-sizing: content-box;
}

#addtest {
  float: right;
  font-weight: bold;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 4px 16px;
  position: relative;
  top: -4px;
}

#testlist textarea {
  display: block;
  overflow: hidden;
  width: 100%;
  resize: none;
  border: 1px solid #bbb;
  border-left: 8px solid red;
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
}

#testlist textarea:not(:first-child) {
  border-top: none;
}

#editor {
  border: 1px solid gray;
  position: absolute;
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: 8px;
}
