body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

#topline {
  margin-bottom: 10px;
  text-align: right;
}

#topline ul {
  margin: 0;
  font-size: 11px;
  padding: 0;
}

#topline li {
  display: inline-block;
  margin: 0 0 4px 3px;
  padding: 4px 4px;
  cursor: pointer;
  user-select: none;
  border: 1px solid white;
}

#topline li:hover {
  border: 1px solid black;
}

#helpbutton {background-color: rgb(200,158,251)}
#loadbutton {background-color: rgb(120,253,237)}
#savebutton {background-color: rgb(215,252,129)}
#exportbutton {background-color: rgb(253,204,132)}
#coveragebutton {background-color: rgb(255,121,236)}

h1 {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 8px 0 4px 0;
}

.tests, .program {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.tests {
  left: 0;
}

.program {
  left: 50%;
}

.container {
  margin: 0;
  padding: 8px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: content-box;
}

.program .container {
  padding: 0;
}

.addtest, .addsetup {
  font: italic 70% serif;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.addtest:hover, .addsetup:hover {
  text-decoration: underline;
}

.deletebutton {
  color: #777;
  font-size: 130%;
  user-select: none;
  cursor: pointer;
}

.deletebutton:hover {
  color: black;
  font-weight: bold;
}

.tests {
  background-image: url('tddhat.png');
  background-position: bottom right;
  background-repeat: no-repeat;
}

#testwrapper div {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tests textarea {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 20px);
  resize: none;
  border: 1px solid #bbb;
  border-left: 8px solid rgb(209,70,78);
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
}

.tests textarea+span {
  display: block;
  float: right;
  text-align: right;
}

.testoutput {
  margin: 0;
  font-size: 8pt;
  color: red;
}

#beforewrapper textarea {
  border-left: 1px solid #bbb;
}

#editor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.uncovered {
  position: absolute;
  background: rgba(200, 0, 0, 0.5);
  z-index: 40
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #fffff2;
  margin: 60px auto;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
