body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 8px;
}

.tests, .program {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.tests {
  left: 0;
  border-right: 1px solid #999;
}

.program {
  left: 50%;
}

.container {
  margin: 0;
  padding: 8px;
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  bottom: 0;
  box-sizing: content-box;
}

.addtest, .deletetest {
  font-size: 150%;
  user-select: none;
  cursor: pointer;
}

.addtest:hover {
  font-weight: bold;
  background: radial-gradient(circle farthest-corner, lightblue, white 70%);
}

.deletetest {
  color: #777;
  font-size: 130%;
}

.deletetest:hover {
  color: black;
}

#testlist div {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

#testlist textarea {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 20px);
  resize: none;
  border: 1px solid #bbb;
  border-left: 8px solid red;
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
}

#testlist span {
  display: block;
  float: right;
  text-align: right;
}

#testlist textarea:not(:first-child) {
  border-top: none;
}

#editor {
  border: 1px solid gray;
  position: absolute;
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: 8px;
}
